.navbar .navbar-header>a.navbar-brand {
    background-repeat: no-repeat;
    background-position: 0 top;
    background-size: contain;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

@media (min-width: 768px) {
    .navbar .navbar-header>a.navbar-brand {
        background-image: url('/img/randj-full.svg');
    }
}
@media (max-width: 767px) {
    .navbar .navbar-header {
        padding: 15px 2% 0 2%;
    }
    .navbar .navbar-header>a.navbar-brand {
        background-image: url('/img/randj-diag.svg');
        max-width: 50px;
        border: 1px solid #000;
        border-radius: 100%;
    }
}